@page "/listblobs"
@using BlazorApp1.Data
@inject BlobService BlobService

<h1>List of Blobs</h1>

@if (blobNames == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var blobName in blobNames)
        {
            <li>@blobName</li>
        }
    </ul>
}

@code {
    private IEnumerable<string> blobNames;

    protected override async Task OnInitializedAsync()
    {
        blobNames = await BlobService.ListBlobsAsync();
    }
}